<div class="bg-white">
    <div class="container">
     <section class="application">
      <h2>這些超酷的應用，<br class="display-md-no">都來自 AI工具王</h2>
      <div class="search_box">
        <label for="search">
          <img src="../assets/images/icons/search.png" alt="search">
        </label>
        <input type="search" name="search" id="search" placeholder="輸入關鍵搜尋">
      </div>
      <div class="filter_box">
        <ul class="filter_list">
          <li>
            <a href="#" class="filter_button">
              <span>篩選</span>
              <img src="../assets/images/icons/Filter alt.png" alt="Filter alt">
            </a>
          </li>
          <li>
            <!-- width 900px 以上顯示 -->
            <ul class="option_list">
              <li><a href="#" class="option_item active">全部</a></li>
              <li><a href="#" class="option_item">聊天</a></li>
              <li><a href="#" class="option_item">影像辨識</a></li>
              <li><a href="#" class="option_item">翻譯</a></li>
              <li><a href="#" class="option_item">行銷</a></li>
              <li><a href="#" class="option_item">客服</a></li>
              <li><a href="#" class="option_item">生產力</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="order_button">
              <span>由新到舊</span>
              <img src="../assets/images/icons/keyboard arrow down.png" alt="keyboard arrow down">
            </a>
          </li>
        </ul>

        <!-- width 900px 以下顯示 -->
        <!-- Slider main container -->
        <div class="swiper swiper_option_list col-7">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <a href="#" class="swiper_option_item active">全部</a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="swiper_option_item">聊天</a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="swiper_option_item">影像辨識</a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="swiper_option_item">翻譯</a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="swiper_option_item">行銷</a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="swiper_option_item">客服</a>
            </div>
            <div class="swiper-slide">
              <a href="#" class="swiper_option_item">生產力</a>
            </div>
          </div>
          <!-- If we need pagination
          <div class="swiper-pagination"></div> -->
        </div>
      </div>
      
      <ul class="product_list">
        <li class="product_item col-4">
          <a href="#">
            <img src="../assets/images/tool1.png" alt="tool1">
          </a>
          <div class="card_title">
            <h5 class="product_title">Chatbot Builder</h5>
            <p class="product_introduction">建立智能化的聊天機器人，解答常見問題、提供客戶支援、收集反饋等。</p>
          </div>
          <div class="card_body">
            <h6>AI 模型</h6>
            <span>卡卡</span>
          </div>
          <div class="card_footer">
            <span>#聊天</span>
            <img src="../assets/images/icons/share.png" alt="share">
          </div>
        </li>
        <li class="product_item col-4">
          <a href="#">
            <img src="../assets/images/tool2.png" alt="tool2">
          </a>
          <div class="card_title">
            <h5 class="product_title">Image Recognition Platform</h5>
            <p class="product_introduction">專業的圖像識別平台，識別圖像、分類、標記等。
            </p>
          </div>
          <div class="card_body">
            <h6>AI 模型</h6>
            <span>杰杰</span>
          </div>
          <div class="card_footer">
            <span>#影像辨識</span>
            <img src="../assets/images/icons/share.png" alt="share">
          </div>
        </li>
        <li class="product_item col-4">
          <a href="#">
            <img src="../assets/images/tool3.png" alt="tool3">
          </a>
          <div class="card_title">
            <h5 class="product_title">Language Translation API</h5>
            <p class="product_introduction">專業的語言翻譯 API，實現文本翻譯功能，支援多種格式的文本。
            </p>
          </div>
          <div class="card_body">
            <h6>AI 模型</h6>
            <span>琪琪</span>
          </div>
          <div class="card_footer">
            <span>#翻譯</span>
            <img src="../assets/images/icons/share.png" alt="share">
          </div>
        </li>
        <li class="product_item col-4">
          <a href="#">
            <img src="../assets/images/tool4.png" alt="tool4">
          </a>
          <div class="card_title">
            <h5 class="product_title">Sentiment Analysis API</h5>
            <p class="product_introduction">自動識別文本中的情感傾向，包括正向、負向和中性等。適用於情感分析、社交媒體監控、市場調查等。</p>
          </div>
          <div class="card_body">
            <h6>AI 模型</h6>
            <span>昊昊</span>
          </div>
          <div class="card_footer">
            <span>#行銷</span>
            <img src="../assets/images/icons/share.png" alt="share">
          </div>
        </li>
        <li class="product_item col-4">
          <a href="#">
            <img src="../assets/images/tool5.png" alt="tool5">
          </a>
          <div class="card_title">
            <h5 class="product_title">Fraud Detection Platformr</h5>
            <p class="product_introduction">預防詐騙活動，適用於銀行、金融、電商等。
            </p>
          </div>
          <div class="card_body">
            <h6>AI 模型</h6>
            <span>卡卡</span>
          </div>
          <div class="card_footer">
            <span>#客服</span>
            <img src="../assets/images/icons/share.png" alt="share">
          </div>
        </li>
        <li class="product_item col-4">
          <a href="#">
            <img src="../assets/images/tool6.png" alt="tool6">
          </a>
          <div class="card_title">
            <h5 class="product_title">Voice Assistant SDK</h5>
            <p class="product_introduction">通過語音控制應用程式、設備，實現多種功能，例如播放音樂、查詢天氣、發送信息等。</p>
          </div>
          <div class="card_body">
            <h6>AI 模型</h6>
            <span>杰杰</span>
          </div>
          <div class="card_footer">
            <span>#生產力</span>
            <img src="../assets/images/icons/share.png" alt="share">
          </div>
        </li>
      </ul>
      <!-- paging -->
      <ul class="page_list">
        <li class="page_item"><a href="#" class="active">1</a></li>
        <li class="page_item"><a href="#">2</a></li>
        <li class="page_item"><a href="#">3</a></li>
        <li class="page_item"><a href="#">4</a></li>
        <li class="page_item"><a href="#">5</a></li>
        <li class="page_item">
          <a href="#">
            <img src="../assets/images/icons/keyboard arrow right.png" alt="keyboard arrow right">
          </a>
        </li>
      </ul>
     </section>
  </div>
</div>