.col-1{
    width: $col-pc-1;
}
.col-2{
    width: $col-pc-2;
}
.col-3{
    width: $col-pc-3;
}
.col-4{
    width: $col-pc-4;
}
.col-5{
    width: $col-pc-5;
}
.col-6{
    width: $col-pc-6;
}
.col-7{
    width: $col-pc-7;
}
.col-8{
    width: $col-pc-8;
}
.col-9{
    width: $col-pc-9;
}
.col-10{
    width: $col-pc-10;
}
.col-11{
    width: $col-pc-11;
}
.col-12{
    width: $col-pc-12;
}