/* 顏色變數 */
$primary:#F18724;
$Surface:#F2EFE7;
$black-100:#020202;
$black-80:#525252;
$black-60:#919191;
$black-40:#D1D1D1;
$black-20:#F2F2F2;
$white:#FFFFFF;

/* 字體大小 */
$fs-base:16px;
$fs-3: $fs-base*0.75; 			/* 12px */
$fs-14px: $fs-base*0.875;		/* 14px */
$fs-4: $fs-base;				/* 16px */
$fs-5: $fs-base*1.25;			/* 20px */
$fs-6: $fs-base*1.5;			/* 24px */
$fs-7: $fs-base*1.75;			/* 28px */
$fs-8: $fs-base*2;				/* 32px */
$fs-10: $fs-base*2.5;			/* 40px */
$fs-12: $fs-base*3;				/* 48px */
$fs-20: $fs-base*5;				/* 80px */
$fs-30: $fs-base*7.5;			/* 120px */
$fs-40: $fs-base*10;			/* 160px */

/*
	col-1 代表一個欄寬的佔比
	col-2 代表兩個欄寬的佔比
*/
$col-pc-1:6.635802469%;
$col-pc-2:15.12345679%;
$col-pc-4:32.098765432%;
$col-pc-5:40.586419753%;
$col-pc-6:49.074074074%;
$col-pc-7:57.561728395%;
$col-pc-3:23.611111111%;
$col-pc-8:66.049382716%;
$col-pc-9:74.537037037%;
$col-pc-10:83.024691358%;
$col-pc-11:91.512345679%;
$col-pc-12:100%;